<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="{{ path('bucket_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Bucket
            </a>
        </li>

        {% for elementBucket in allBuckets %}
        <li>
            <a href="{{ path('bucket_show', { 'id': elementBucket.id }) }}">
                <span class="badge">{{ elementBucket.qty_items }}</span>
                {{ elementBucket.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
