<div class="col-md-3" id="bucket-sidebar">
    <div class="row" style="padding:5px 0 10px 15px;">
 <a href="{{ path('bucket_new') }}" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Bucket
                 </a>        
    </div>

    <div class="list-group">
        {% for elementBucket in allBuckets %}
        <a href="{{ path('bucket_show', { 'id': elementBucket.id }) }}" class="list-group-item">
            <span class="badge">{{ random(15) }}</span>
            {{ elementBucket.name }}
        </a>
        {% endfor %}
    </div>

</div>
