<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Bucket{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <style type="text/css">
            body {
                padding: 40px;
                margin-top: 15px;
            }

            .navbar {
                margin-bottom: 30px;
            }

            #bucket-sidebar ul li {
                padding:10px;
                border-bottom: 1px solid #CCC;
                background-color: #EEE;
                text-decoration: none;
                list-style: outside none none;
            }

            #bucket-sidebar ul li:hover {
                background-color: #CCC;
            }
        </style>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand lyphicon" href="#">Bucket</a>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bucket/new"><span class="glyphicon glyphicon-plus-sign"></span> New Bucket</a> </li>
                        <li><a href="/bucket"><span class="glyphicon glyphicon-sort-by-alphabet"></span> List Buckets</a> </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/item/new"><span class="glyphicon glyphicon-plus-sign"></span> New Item</a></li>
                        <li><a href="/item"><span class="glyphicon glyphicon-sort-by-alphabet"></span> List Items</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Hi {{ app.user.username }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            {% else %}
                <form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                    <div class="form-group">
                        <input type="text" id="username" name="_username" placeholder="Email" class="form-control" required="required" />
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" name="_password" placeholder="Password" class="form-control" required="required" />
                    </div>

                    <button type="submit" id="_submit" name="_submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>


{% block body %}
    {% block content %}
        <div class="row">
            <div class="large-11 large-centered columns">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}


{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
