{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'AppBundle::menu.html.twig' %}

    <div class="col-md-9 text-center">
        <h4>Select your bucket to see the contents!</h4>
    </div>
    {% endblock %}
