{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'AppBundle::menu.html.twig' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4>Select your bucket to see the contents!</h4>
    </div>
    {% endblock %}
